{
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "proseWrap": "never",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
